/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  background-color: #ffffff;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  flood-color: #3c3c3c;
  font-weight: 400;
  color: #3c3c3c;
  overflow-x: hidden;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

strong {
  font-weight: 600; }

a, a:hover, a:active, a:focus {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, small, li {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  transition: 0.35s ease-in-out; }

::selection {
  color: #ffffff;
  background-color: #3a2651; }

nav li {
  outline: none; }
  nav li > a {
    text-transform: uppercase;
    color: #ffffff !important; }
    nav li > a:hover, nav li > a:active, nav li > a:focus {
      color: #d6d5d5;
      outline: none; }

::-webkit-input-placeholder {
  color: #3c3c3c !important; }

:-moz-placeholder {
  color: #3c3c3c !important; }

::-moz-placeholder {
  color: #3c3c3c !important; }

:-ms-input-placeholder {
  color: #3c3c3c !important; }

.btn {
  border-radius: 0; }

.btn-download {
  max-width: 736px;
  width: 100%;
  margin: auto;
  text-transform: uppercase;
  border: solid 0.5px #ffffff; }
  .btn-download img {
    margin-right: 20px;
    vertical-align: middle; }

.full-width {
  width: 100%; }

.container-1140 {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px; }

.transition {
  transition: 0.35s ease-in-out; }

h1, h3, h4, h5, h6, p, small {
  font-family: "Lato", Arial, Helvetica, sans-serif; }

.c-white {
  color: #ffffff !important; }

.c-white-event:hover, .c-white-event:active, .c-white-event:focus {
  color: #ffffff !important; }

.bgc-white {
  background-color: #ffffff !important; }

.bgc-white-event:hover, .bgc-white-event:active, .bgc-white-event:focus {
  background-color: #2e1f40 !important; }

.bdc-white {
  border-color: #ffffff !important; }

.bdc-white-event:hover, .bdc-white-event:active, .bdc-white-event:focus {
  border-color: #ffffff !important; }

.c-white-two {
  color: #f4f4f4 !important; }

.c-white-two-event:hover, .c-white-two-event:active, .c-white-two-event:focus {
  color: #f4f4f4 !important; }

.bgc-white-two {
  background-color: #f4f4f4 !important; }

.bgc-white-two-event:hover, .bgc-white-two-event:active, .bgc-white-two-event:focus {
  background-color: #2e1f40 !important; }

.bdc-white-two {
  border-color: #f4f4f4 !important; }

.bdc-white-two-event:hover, .bdc-white-two-event:active, .bdc-white-two-event:focus {
  border-color: #f4f4f4 !important; }

.c-white-three {
  color: #d6d5d5 !important; }

.c-white-three-event:hover, .c-white-three-event:active, .c-white-three-event:focus {
  color: #d6d5d5 !important; }

.bgc-white-three {
  background-color: #d6d5d5 !important; }

.bgc-white-three-event:hover, .bgc-white-three-event:active, .bgc-white-three-event:focus {
  background-color: #2e1f40 !important; }

.bdc-white-three {
  border-color: #d6d5d5 !important; }

.bdc-white-three-event:hover, .bdc-white-three-event:active, .bdc-white-three-event:focus {
  border-color: #d6d5d5 !important; }

.c-dark-grey-blue {
  color: #3a2651 !important; }

.c-dark-grey-blue-event:hover, .c-dark-grey-blue-event:active, .c-dark-grey-blue-event:focus {
  color: #3a2651 !important; }

.bgc-dark-grey-blue {
  background-color: #3a2651 !important; }

.bgc-dark-grey-blue-event:hover, .bgc-dark-grey-blue-event:active, .bgc-dark-grey-blue-event:focus {
  background-color: #2e1f40 !important; }

.bdc-dark-grey-blue {
  border-color: #3a2651 !important; }

.bdc-dark-grey-blue-event:hover, .bdc-dark-grey-blue-event:active, .bdc-dark-grey-blue-event:focus {
  border-color: #3a2651 !important; }

.c-greyish-brown {
  color: #3c3c3c !important; }

.c-greyish-brown-event:hover, .c-greyish-brown-event:active, .c-greyish-brown-event:focus {
  color: #3c3c3c !important; }

.bgc-greyish-brown {
  background-color: #3c3c3c !important; }

.bgc-greyish-brown-event:hover, .bgc-greyish-brown-event:active, .bgc-greyish-brown-event:focus {
  background-color: #2e1f40 !important; }

.bdc-greyish-brown {
  border-color: #3c3c3c !important; }

.bdc-greyish-brown-event:hover, .bdc-greyish-brown-event:active, .bdc-greyish-brown-event:focus {
  border-color: #3c3c3c !important; }

@media only screen and (min-width: 320px) {
  .pt-xs-0 {
    padding-top: 0px !important; }

  .pt-xs-10 {
    padding-top: 10px !important; }

  .pt-xs-20 {
    padding-top: 20px !important; }

  .pt-xs-30 {
    padding-top: 30px !important; }

  .pt-xs-40 {
    padding-top: 40px !important; }

  .pt-xs-50 {
    padding-top: 50px !important; }

  .pt-xs-60 {
    padding-top: 60px !important; }

  .pt-xs-70 {
    padding-top: 70px !important; }

  .pt-xs-80 {
    padding-top: 80px !important; }

  .pt-xs-90 {
    padding-top: 90px !important; }

  .pt-xs-100 {
    padding-top: 100px !important; }

  .pt-xs-110 {
    padding-top: 110px !important; }

  .pt-xs-120 {
    padding-top: 120px !important; }

  .pt-xs-130 {
    padding-top: 130px !important; }

  .pt-xs-140 {
    padding-top: 140px !important; }

  .pt-xs-150 {
    padding-top: 150px !important; }

  .pt-xs-160 {
    padding-top: 160px !important; }

  .pt-xs-170 {
    padding-top: 170px !important; }

  .pt-xs-180 {
    padding-top: 180px !important; }

  .pt-xs-190 {
    padding-top: 190px !important; }

  .pt-xs-200 {
    padding-top: 200px !important; }

  .pb-xs-0 {
    padding-bottom: 0px !important; }

  .pb-xs-10 {
    padding-bottom: 10px !important; }

  .pb-xs-20 {
    padding-bottom: 20px !important; }

  .pb-xs-30 {
    padding-bottom: 30px !important; }

  .pb-xs-40 {
    padding-bottom: 40px !important; }

  .pb-xs-50 {
    padding-bottom: 50px !important; }

  .pb-xs-60 {
    padding-bottom: 60px !important; }

  .pb-xs-70 {
    padding-bottom: 70px !important; }

  .pb-xs-80 {
    padding-bottom: 80px !important; }

  .pb-xs-90 {
    padding-bottom: 90px !important; }

  .pb-xs-100 {
    padding-bottom: 100px !important; }

  .pb-xs-110 {
    padding-bottom: 110px !important; }

  .pb-xs-120 {
    padding-bottom: 120px !important; }

  .pb-xs-130 {
    padding-bottom: 130px !important; }

  .pb-xs-140 {
    padding-bottom: 140px !important; }

  .pb-xs-150 {
    padding-bottom: 150px !important; }

  .pb-xs-160 {
    padding-bottom: 160px !important; }

  .pb-xs-170 {
    padding-bottom: 170px !important; }

  .pb-xs-180 {
    padding-bottom: 180px !important; }

  .pb-xs-190 {
    padding-bottom: 190px !important; }

  .pb-xs-200 {
    padding-bottom: 200px !important; }

  .mt-xs-0 {
    margin-top: 0px !important; }

  .mt-xs-10 {
    margin-top: 10px !important; }

  .mt-xs-20 {
    margin-top: 20px !important; }

  .mt-xs-30 {
    margin-top: 30px !important; }

  .mt-xs-40 {
    margin-top: 40px !important; }

  .mt-xs-50 {
    margin-top: 50px !important; }

  .mt-xs-60 {
    margin-top: 60px !important; }

  .mt-xs-70 {
    margin-top: 70px !important; }

  .mt-xs-80 {
    margin-top: 80px !important; }

  .mt-xs-90 {
    margin-top: 90px !important; }

  .mt-xs-100 {
    margin-top: 100px !important; }

  .mt-xs-110 {
    margin-top: 110px !important; }

  .mt-xs-120 {
    margin-top: 120px !important; }

  .mt-xs-130 {
    margin-top: 130px !important; }

  .mt-xs-140 {
    margin-top: 140px !important; }

  .mt-xs-150 {
    margin-top: 150px !important; }

  .mt-xs-160 {
    margin-top: 160px !important; }

  .mt-xs-170 {
    margin-top: 170px !important; }

  .mt-xs-180 {
    margin-top: 180px !important; }

  .mt-xs-190 {
    margin-top: 190px !important; }

  .mt-xs-200 {
    margin-top: 200px !important; }

  .mb-xs-0 {
    margin-bottom: 0px !important; }

  .mb-xs-10 {
    margin-bottom: 10px !important; }

  .mb-xs-20 {
    margin-bottom: 20px !important; }

  .mb-xs-30 {
    margin-bottom: 30px !important; }

  .mb-xs-40 {
    margin-bottom: 40px !important; }

  .mb-xs-50 {
    margin-bottom: 50px !important; }

  .mb-xs-60 {
    margin-bottom: 60px !important; }

  .mb-xs-70 {
    margin-bottom: 70px !important; }

  .mb-xs-80 {
    margin-bottom: 80px !important; }

  .mb-xs-90 {
    margin-bottom: 90px !important; }

  .mb-xs-100 {
    margin-bottom: 100px !important; }

  .mb-xs-110 {
    margin-bottom: 110px !important; }

  .mb-xs-120 {
    margin-bottom: 120px !important; }

  .mb-xs-130 {
    margin-bottom: 130px !important; }

  .mb-xs-140 {
    margin-bottom: 140px !important; }

  .mb-xs-150 {
    margin-bottom: 150px !important; }

  .mb-xs-160 {
    margin-bottom: 160px !important; }

  .mb-xs-170 {
    margin-bottom: 170px !important; }

  .mb-xs-180 {
    margin-bottom: 180px !important; }

  .mb-xs-190 {
    margin-bottom: 190px !important; }

  .mb-xs-200 {
    margin-bottom: 200px !important; }

  .center-block-xs {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .left-block-xs {
    display: block;
    margin-left: 0;
    margin-right: auto; }

  .right-block-xs {
    display: block;
    margin-left: auto;
    margin-right: 0; }

  nav li > a {
    font-size: 12px; }

  header h1 {
    font-size: 50px;
    font-weight: 300; }
  header h2 {
    font-size: 32px;
    font-weight: 300; }
  header small {
    font-size: 14px; }

  section h3 {
    font-size: 50px;
    font-weight: 300; }
  section p {
    font-size: 14px;
    line-height: 1.86; }

  input, textarea, button[type=submit] {
    margin: 20px 0;
    padding: 20px 30px !important;
    font-size: 16px;
    border-radius: 0 !important;
    border: solid 1px #3a2651; }

  footer small {
    font-size: 14px; }

  .btn-download {
    font-size: 26px; } }
@media only screen and (min-width: 768px) {
  .pt-sm-0 {
    padding-top: 0px !important; }

  .pt-sm-10 {
    padding-top: 10px !important; }

  .pt-sm-20 {
    padding-top: 20px !important; }

  .pt-sm-30 {
    padding-top: 30px !important; }

  .pt-sm-40 {
    padding-top: 40px !important; }

  .pt-sm-50 {
    padding-top: 50px !important; }

  .pt-sm-60 {
    padding-top: 60px !important; }

  .pt-sm-70 {
    padding-top: 70px !important; }

  .pt-sm-80 {
    padding-top: 80px !important; }

  .pt-sm-90 {
    padding-top: 90px !important; }

  .pt-sm-100 {
    padding-top: 100px !important; }

  .pt-sm-110 {
    padding-top: 110px !important; }

  .pt-sm-120 {
    padding-top: 120px !important; }

  .pt-sm-130 {
    padding-top: 130px !important; }

  .pt-sm-140 {
    padding-top: 140px !important; }

  .pt-sm-150 {
    padding-top: 150px !important; }

  .pt-sm-160 {
    padding-top: 160px !important; }

  .pt-sm-170 {
    padding-top: 170px !important; }

  .pt-sm-180 {
    padding-top: 180px !important; }

  .pt-sm-190 {
    padding-top: 190px !important; }

  .pt-sm-200 {
    padding-top: 200px !important; }

  .pb-sm-0 {
    padding-bottom: 0px !important; }

  .pb-sm-10 {
    padding-bottom: 10px !important; }

  .pb-sm-20 {
    padding-bottom: 20px !important; }

  .pb-sm-30 {
    padding-bottom: 30px !important; }

  .pb-sm-40 {
    padding-bottom: 40px !important; }

  .pb-sm-50 {
    padding-bottom: 50px !important; }

  .pb-sm-60 {
    padding-bottom: 60px !important; }

  .pb-sm-70 {
    padding-bottom: 70px !important; }

  .pb-sm-80 {
    padding-bottom: 80px !important; }

  .pb-sm-90 {
    padding-bottom: 90px !important; }

  .pb-sm-100 {
    padding-bottom: 100px !important; }

  .pb-sm-110 {
    padding-bottom: 110px !important; }

  .pb-sm-120 {
    padding-bottom: 120px !important; }

  .pb-sm-130 {
    padding-bottom: 130px !important; }

  .pb-sm-140 {
    padding-bottom: 140px !important; }

  .pb-sm-150 {
    padding-bottom: 150px !important; }

  .pb-sm-160 {
    padding-bottom: 160px !important; }

  .pb-sm-170 {
    padding-bottom: 170px !important; }

  .pb-sm-180 {
    padding-bottom: 180px !important; }

  .pb-sm-190 {
    padding-bottom: 190px !important; }

  .pb-sm-200 {
    padding-bottom: 200px !important; }

  .mt-sm-0 {
    margin-top: 0px !important; }

  .mt-sm-10 {
    margin-top: 10px !important; }

  .mt-sm-20 {
    margin-top: 20px !important; }

  .mt-sm-30 {
    margin-top: 30px !important; }

  .mt-sm-40 {
    margin-top: 40px !important; }

  .mt-sm-50 {
    margin-top: 50px !important; }

  .mt-sm-60 {
    margin-top: 60px !important; }

  .mt-sm-70 {
    margin-top: 70px !important; }

  .mt-sm-80 {
    margin-top: 80px !important; }

  .mt-sm-90 {
    margin-top: 90px !important; }

  .mt-sm-100 {
    margin-top: 100px !important; }

  .mt-sm-110 {
    margin-top: 110px !important; }

  .mt-sm-120 {
    margin-top: 120px !important; }

  .mt-sm-130 {
    margin-top: 130px !important; }

  .mt-sm-140 {
    margin-top: 140px !important; }

  .mt-sm-150 {
    margin-top: 150px !important; }

  .mt-sm-160 {
    margin-top: 160px !important; }

  .mt-sm-170 {
    margin-top: 170px !important; }

  .mt-sm-180 {
    margin-top: 180px !important; }

  .mt-sm-190 {
    margin-top: 190px !important; }

  .mt-sm-200 {
    margin-top: 200px !important; }

  .mb-sm-0 {
    margin-bottom: 0px !important; }

  .mb-sm-10 {
    margin-bottom: 10px !important; }

  .mb-sm-20 {
    margin-bottom: 20px !important; }

  .mb-sm-30 {
    margin-bottom: 30px !important; }

  .mb-sm-40 {
    margin-bottom: 40px !important; }

  .mb-sm-50 {
    margin-bottom: 50px !important; }

  .mb-sm-60 {
    margin-bottom: 60px !important; }

  .mb-sm-70 {
    margin-bottom: 70px !important; }

  .mb-sm-80 {
    margin-bottom: 80px !important; }

  .mb-sm-90 {
    margin-bottom: 90px !important; }

  .mb-sm-100 {
    margin-bottom: 100px !important; }

  .mb-sm-110 {
    margin-bottom: 110px !important; }

  .mb-sm-120 {
    margin-bottom: 120px !important; }

  .mb-sm-130 {
    margin-bottom: 130px !important; }

  .mb-sm-140 {
    margin-bottom: 140px !important; }

  .mb-sm-150 {
    margin-bottom: 150px !important; }

  .mb-sm-160 {
    margin-bottom: 160px !important; }

  .mb-sm-170 {
    margin-bottom: 170px !important; }

  .mb-sm-180 {
    margin-bottom: 180px !important; }

  .mb-sm-190 {
    margin-bottom: 190px !important; }

  .mb-sm-200 {
    margin-bottom: 200px !important; }

  .center-block-sm {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .left-block-sm {
    display: block;
    margin-left: 0;
    margin-right: auto; }

  .right-block-sm {
    display: block;
    margin-left: auto;
    margin-right: 0; }

  header h1 {
    font-size: 60px;
    font-weight: 300; }
  header h2 {
    font-size: 38px;
    font-weight: 300; } }
@media only screen and (min-width: 992px) {
  .pt-md-0 {
    padding-top: 0px !important; }

  .pt-md-10 {
    padding-top: 10px !important; }

  .pt-md-20 {
    padding-top: 20px !important; }

  .pt-md-30 {
    padding-top: 30px !important; }

  .pt-md-40 {
    padding-top: 40px !important; }

  .pt-md-50 {
    padding-top: 50px !important; }

  .pt-md-60 {
    padding-top: 60px !important; }

  .pt-md-70 {
    padding-top: 70px !important; }

  .pt-md-80 {
    padding-top: 80px !important; }

  .pt-md-90 {
    padding-top: 90px !important; }

  .pt-md-100 {
    padding-top: 100px !important; }

  .pt-md-110 {
    padding-top: 110px !important; }

  .pt-md-120 {
    padding-top: 120px !important; }

  .pt-md-130 {
    padding-top: 130px !important; }

  .pt-md-140 {
    padding-top: 140px !important; }

  .pt-md-150 {
    padding-top: 150px !important; }

  .pt-md-160 {
    padding-top: 160px !important; }

  .pt-md-170 {
    padding-top: 170px !important; }

  .pt-md-180 {
    padding-top: 180px !important; }

  .pt-md-190 {
    padding-top: 190px !important; }

  .pt-md-200 {
    padding-top: 200px !important; }

  .pb-md-0 {
    padding-bottom: 0px !important; }

  .pb-md-10 {
    padding-bottom: 10px !important; }

  .pb-md-20 {
    padding-bottom: 20px !important; }

  .pb-md-30 {
    padding-bottom: 30px !important; }

  .pb-md-40 {
    padding-bottom: 40px !important; }

  .pb-md-50 {
    padding-bottom: 50px !important; }

  .pb-md-60 {
    padding-bottom: 60px !important; }

  .pb-md-70 {
    padding-bottom: 70px !important; }

  .pb-md-80 {
    padding-bottom: 80px !important; }

  .pb-md-90 {
    padding-bottom: 90px !important; }

  .pb-md-100 {
    padding-bottom: 100px !important; }

  .pb-md-110 {
    padding-bottom: 110px !important; }

  .pb-md-120 {
    padding-bottom: 120px !important; }

  .pb-md-130 {
    padding-bottom: 130px !important; }

  .pb-md-140 {
    padding-bottom: 140px !important; }

  .pb-md-150 {
    padding-bottom: 150px !important; }

  .pb-md-160 {
    padding-bottom: 160px !important; }

  .pb-md-170 {
    padding-bottom: 170px !important; }

  .pb-md-180 {
    padding-bottom: 180px !important; }

  .pb-md-190 {
    padding-bottom: 190px !important; }

  .pb-md-200 {
    padding-bottom: 200px !important; }

  .mt-md-0 {
    margin-top: 0px !important; }

  .mt-md-10 {
    margin-top: 10px !important; }

  .mt-md-20 {
    margin-top: 20px !important; }

  .mt-md-30 {
    margin-top: 30px !important; }

  .mt-md-40 {
    margin-top: 40px !important; }

  .mt-md-50 {
    margin-top: 50px !important; }

  .mt-md-60 {
    margin-top: 60px !important; }

  .mt-md-70 {
    margin-top: 70px !important; }

  .mt-md-80 {
    margin-top: 80px !important; }

  .mt-md-90 {
    margin-top: 90px !important; }

  .mt-md-100 {
    margin-top: 100px !important; }

  .mt-md-110 {
    margin-top: 110px !important; }

  .mt-md-120 {
    margin-top: 120px !important; }

  .mt-md-130 {
    margin-top: 130px !important; }

  .mt-md-140 {
    margin-top: 140px !important; }

  .mt-md-150 {
    margin-top: 150px !important; }

  .mt-md-160 {
    margin-top: 160px !important; }

  .mt-md-170 {
    margin-top: 170px !important; }

  .mt-md-180 {
    margin-top: 180px !important; }

  .mt-md-190 {
    margin-top: 190px !important; }

  .mt-md-200 {
    margin-top: 200px !important; }

  .mb-md-0 {
    margin-bottom: 0px !important; }

  .mb-md-10 {
    margin-bottom: 10px !important; }

  .mb-md-20 {
    margin-bottom: 20px !important; }

  .mb-md-30 {
    margin-bottom: 30px !important; }

  .mb-md-40 {
    margin-bottom: 40px !important; }

  .mb-md-50 {
    margin-bottom: 50px !important; }

  .mb-md-60 {
    margin-bottom: 60px !important; }

  .mb-md-70 {
    margin-bottom: 70px !important; }

  .mb-md-80 {
    margin-bottom: 80px !important; }

  .mb-md-90 {
    margin-bottom: 90px !important; }

  .mb-md-100 {
    margin-bottom: 100px !important; }

  .mb-md-110 {
    margin-bottom: 110px !important; }

  .mb-md-120 {
    margin-bottom: 120px !important; }

  .mb-md-130 {
    margin-bottom: 130px !important; }

  .mb-md-140 {
    margin-bottom: 140px !important; }

  .mb-md-150 {
    margin-bottom: 150px !important; }

  .mb-md-160 {
    margin-bottom: 160px !important; }

  .mb-md-170 {
    margin-bottom: 170px !important; }

  .mb-md-180 {
    margin-bottom: 180px !important; }

  .mb-md-190 {
    margin-bottom: 190px !important; }

  .mb-md-200 {
    margin-bottom: 200px !important; }

  .center-block-md {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .left-block-md {
    display: block;
    margin-left: 0;
    margin-right: auto; }

  .right-block-md {
    display: block;
    margin-left: auto;
    margin-right: 0; }

  header h1 {
    font-size: 73px;
    font-weight: 300; }
  header h2 {
    font-size: 48px;
    font-weight: 300; } }
@media only screen and (min-width: 1200px) {
  .pt-lg-0 {
    padding-top: 0px !important; }

  .pt-lg-10 {
    padding-top: 10px !important; }

  .pt-lg-20 {
    padding-top: 20px !important; }

  .pt-lg-30 {
    padding-top: 30px !important; }

  .pt-lg-40 {
    padding-top: 40px !important; }

  .pt-lg-50 {
    padding-top: 50px !important; }

  .pt-lg-60 {
    padding-top: 60px !important; }

  .pt-lg-70 {
    padding-top: 70px !important; }

  .pt-lg-80 {
    padding-top: 80px !important; }

  .pt-lg-90 {
    padding-top: 90px !important; }

  .pt-lg-100 {
    padding-top: 100px !important; }

  .pt-lg-110 {
    padding-top: 110px !important; }

  .pt-lg-120 {
    padding-top: 120px !important; }

  .pt-lg-130 {
    padding-top: 130px !important; }

  .pt-lg-140 {
    padding-top: 140px !important; }

  .pt-lg-150 {
    padding-top: 150px !important; }

  .pt-lg-160 {
    padding-top: 160px !important; }

  .pt-lg-170 {
    padding-top: 170px !important; }

  .pt-lg-180 {
    padding-top: 180px !important; }

  .pt-lg-190 {
    padding-top: 190px !important; }

  .pt-lg-200 {
    padding-top: 200px !important; }

  .pb-lg-0 {
    padding-bottom: 0px !important; }

  .pb-lg-10 {
    padding-bottom: 10px !important; }

  .pb-lg-20 {
    padding-bottom: 20px !important; }

  .pb-lg-30 {
    padding-bottom: 30px !important; }

  .pb-lg-40 {
    padding-bottom: 40px !important; }

  .pb-lg-50 {
    padding-bottom: 50px !important; }

  .pb-lg-60 {
    padding-bottom: 60px !important; }

  .pb-lg-70 {
    padding-bottom: 70px !important; }

  .pb-lg-80 {
    padding-bottom: 80px !important; }

  .pb-lg-90 {
    padding-bottom: 90px !important; }

  .pb-lg-100 {
    padding-bottom: 100px !important; }

  .pb-lg-110 {
    padding-bottom: 110px !important; }

  .pb-lg-120 {
    padding-bottom: 120px !important; }

  .pb-lg-130 {
    padding-bottom: 130px !important; }

  .pb-lg-140 {
    padding-bottom: 140px !important; }

  .pb-lg-150 {
    padding-bottom: 150px !important; }

  .pb-lg-160 {
    padding-bottom: 160px !important; }

  .pb-lg-170 {
    padding-bottom: 170px !important; }

  .pb-lg-180 {
    padding-bottom: 180px !important; }

  .pb-lg-190 {
    padding-bottom: 190px !important; }

  .pb-lg-200 {
    padding-bottom: 200px !important; }

  .mt-lg-0 {
    margin-top: 0px !important; }

  .mt-lg-10 {
    margin-top: 10px !important; }

  .mt-lg-20 {
    margin-top: 20px !important; }

  .mt-lg-30 {
    margin-top: 30px !important; }

  .mt-lg-40 {
    margin-top: 40px !important; }

  .mt-lg-50 {
    margin-top: 50px !important; }

  .mt-lg-60 {
    margin-top: 60px !important; }

  .mt-lg-70 {
    margin-top: 70px !important; }

  .mt-lg-80 {
    margin-top: 80px !important; }

  .mt-lg-90 {
    margin-top: 90px !important; }

  .mt-lg-100 {
    margin-top: 100px !important; }

  .mt-lg-110 {
    margin-top: 110px !important; }

  .mt-lg-120 {
    margin-top: 120px !important; }

  .mt-lg-130 {
    margin-top: 130px !important; }

  .mt-lg-140 {
    margin-top: 140px !important; }

  .mt-lg-150 {
    margin-top: 150px !important; }

  .mt-lg-160 {
    margin-top: 160px !important; }

  .mt-lg-170 {
    margin-top: 170px !important; }

  .mt-lg-180 {
    margin-top: 180px !important; }

  .mt-lg-190 {
    margin-top: 190px !important; }

  .mt-lg-200 {
    margin-top: 200px !important; }

  .mb-lg-0 {
    margin-bottom: 0px !important; }

  .mb-lg-10 {
    margin-bottom: 10px !important; }

  .mb-lg-20 {
    margin-bottom: 20px !important; }

  .mb-lg-30 {
    margin-bottom: 30px !important; }

  .mb-lg-40 {
    margin-bottom: 40px !important; }

  .mb-lg-50 {
    margin-bottom: 50px !important; }

  .mb-lg-60 {
    margin-bottom: 60px !important; }

  .mb-lg-70 {
    margin-bottom: 70px !important; }

  .mb-lg-80 {
    margin-bottom: 80px !important; }

  .mb-lg-90 {
    margin-bottom: 90px !important; }

  .mb-lg-100 {
    margin-bottom: 100px !important; }

  .mb-lg-110 {
    margin-bottom: 110px !important; }

  .mb-lg-120 {
    margin-bottom: 120px !important; }

  .mb-lg-130 {
    margin-bottom: 130px !important; }

  .mb-lg-140 {
    margin-bottom: 140px !important; }

  .mb-lg-150 {
    margin-bottom: 150px !important; }

  .mb-lg-160 {
    margin-bottom: 160px !important; }

  .mb-lg-170 {
    margin-bottom: 170px !important; }

  .mb-lg-180 {
    margin-bottom: 180px !important; }

  .mb-lg-190 {
    margin-bottom: 190px !important; }

  .mb-lg-200 {
    margin-bottom: 200px !important; }

  .center-block-lg {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .left-block-lg {
    display: block;
    margin-left: 0;
    margin-right: auto; }

  .right-block-lg {
    display: block;
    margin-left: auto;
    margin-right: 0; } }
@media only screen and (min-width: 1440px) {
  .pt-xlg-0 {
    padding-top: 0px !important; }

  .pt-xlg-10 {
    padding-top: 10px !important; }

  .pt-xlg-20 {
    padding-top: 20px !important; }

  .pt-xlg-30 {
    padding-top: 30px !important; }

  .pt-xlg-40 {
    padding-top: 40px !important; }

  .pt-xlg-50 {
    padding-top: 50px !important; }

  .pt-xlg-60 {
    padding-top: 60px !important; }

  .pt-xlg-70 {
    padding-top: 70px !important; }

  .pt-xlg-80 {
    padding-top: 80px !important; }

  .pt-xlg-90 {
    padding-top: 90px !important; }

  .pt-xlg-100 {
    padding-top: 100px !important; }

  .pt-xlg-110 {
    padding-top: 110px !important; }

  .pt-xlg-120 {
    padding-top: 120px !important; }

  .pt-xlg-130 {
    padding-top: 130px !important; }

  .pt-xlg-140 {
    padding-top: 140px !important; }

  .pt-xlg-150 {
    padding-top: 150px !important; }

  .pt-xlg-160 {
    padding-top: 160px !important; }

  .pt-xlg-170 {
    padding-top: 170px !important; }

  .pt-xlg-180 {
    padding-top: 180px !important; }

  .pt-xlg-190 {
    padding-top: 190px !important; }

  .pt-xlg-200 {
    padding-top: 200px !important; }

  .pb-xlg-0 {
    padding-bottom: 0px !important; }

  .pb-xlg-10 {
    padding-bottom: 10px !important; }

  .pb-xlg-20 {
    padding-bottom: 20px !important; }

  .pb-xlg-30 {
    padding-bottom: 30px !important; }

  .pb-xlg-40 {
    padding-bottom: 40px !important; }

  .pb-xlg-50 {
    padding-bottom: 50px !important; }

  .pb-xlg-60 {
    padding-bottom: 60px !important; }

  .pb-xlg-70 {
    padding-bottom: 70px !important; }

  .pb-xlg-80 {
    padding-bottom: 80px !important; }

  .pb-xlg-90 {
    padding-bottom: 90px !important; }

  .pb-xlg-100 {
    padding-bottom: 100px !important; }

  .pb-xlg-110 {
    padding-bottom: 110px !important; }

  .pb-xlg-120 {
    padding-bottom: 120px !important; }

  .pb-xlg-130 {
    padding-bottom: 130px !important; }

  .pb-xlg-140 {
    padding-bottom: 140px !important; }

  .pb-xlg-150 {
    padding-bottom: 150px !important; }

  .pb-xlg-160 {
    padding-bottom: 160px !important; }

  .pb-xlg-170 {
    padding-bottom: 170px !important; }

  .pb-xlg-180 {
    padding-bottom: 180px !important; }

  .pb-xlg-190 {
    padding-bottom: 190px !important; }

  .pb-xlg-200 {
    padding-bottom: 200px !important; }

  .mt-xlg-0 {
    margin-top: 0px !important; }

  .mt-xlg-10 {
    margin-top: 10px !important; }

  .mt-xlg-20 {
    margin-top: 20px !important; }

  .mt-xlg-30 {
    margin-top: 30px !important; }

  .mt-xlg-40 {
    margin-top: 40px !important; }

  .mt-xlg-50 {
    margin-top: 50px !important; }

  .mt-xlg-60 {
    margin-top: 60px !important; }

  .mt-xlg-70 {
    margin-top: 70px !important; }

  .mt-xlg-80 {
    margin-top: 80px !important; }

  .mt-xlg-90 {
    margin-top: 90px !important; }

  .mt-xlg-100 {
    margin-top: 100px !important; }

  .mt-xlg-110 {
    margin-top: 110px !important; }

  .mt-xlg-120 {
    margin-top: 120px !important; }

  .mt-xlg-130 {
    margin-top: 130px !important; }

  .mt-xlg-140 {
    margin-top: 140px !important; }

  .mt-xlg-150 {
    margin-top: 150px !important; }

  .mt-xlg-160 {
    margin-top: 160px !important; }

  .mt-xlg-170 {
    margin-top: 170px !important; }

  .mt-xlg-180 {
    margin-top: 180px !important; }

  .mt-xlg-190 {
    margin-top: 190px !important; }

  .mt-xlg-200 {
    margin-top: 200px !important; }

  .mb-xlg-0 {
    margin-bottom: 0px !important; }

  .mb-xlg-10 {
    margin-bottom: 10px !important; }

  .mb-xlg-20 {
    margin-bottom: 20px !important; }

  .mb-xlg-30 {
    margin-bottom: 30px !important; }

  .mb-xlg-40 {
    margin-bottom: 40px !important; }

  .mb-xlg-50 {
    margin-bottom: 50px !important; }

  .mb-xlg-60 {
    margin-bottom: 60px !important; }

  .mb-xlg-70 {
    margin-bottom: 70px !important; }

  .mb-xlg-80 {
    margin-bottom: 80px !important; }

  .mb-xlg-90 {
    margin-bottom: 90px !important; }

  .mb-xlg-100 {
    margin-bottom: 100px !important; }

  .mb-xlg-110 {
    margin-bottom: 110px !important; }

  .mb-xlg-120 {
    margin-bottom: 120px !important; }

  .mb-xlg-130 {
    margin-bottom: 130px !important; }

  .mb-xlg-140 {
    margin-bottom: 140px !important; }

  .mb-xlg-150 {
    margin-bottom: 150px !important; }

  .mb-xlg-160 {
    margin-bottom: 160px !important; }

  .mb-xlg-170 {
    margin-bottom: 170px !important; }

  .mb-xlg-180 {
    margin-bottom: 180px !important; }

  .mb-xlg-190 {
    margin-bottom: 190px !important; }

  .mb-xlg-200 {
    margin-bottom: 200px !important; }

  .center-block-xlg {
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .left-block-xlg {
    display: block;
    margin-left: 0;
    margin-right: auto; }

  .right-block-xlg {
    display: block;
    margin-left: auto;
    margin-right: 0; }

  hr {
    position: relative;
    top: -100px;
    z-index: -99;
    border-top: 1px solid #D6D5D5; } }
.navbar-brand {
  padding: 0; }

.navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px; }

figcaption {
  text-transform: uppercase; }

h3 {
  text-transform: uppercase; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1); }

.navbar-dark .navbar-toggler-icon {
  border-color: rgba(255, 255, 255, 0.1); }

@media (min-width: 768px) {
  .navbar-toggler {
    display: none; } }
.navbar-toggler {
  background: 0 0;
  border: 1px solid transparent;
  padding: 0; }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1); }

.btn-nav {
  cursor: pointer;
  right: 25px;
  width: 35px;
  z-index: 2;
  transition: opacity .3s ease-out;
  margin-top: 18px;
  margin-bottom: 18px; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.btn-nav div {
  width: 85%;
  height: 3px;
  background: #fff;
  margin: 4px auto;
  transition: all .3s;
  backface-visibility: hidden; }

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.collapse.show {
  display: block; }

.navbar-brand > img {
  display: inherit; }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #2e1f40; }

.bt-r {
  font-size: 18px; }

/*# sourceMappingURL=main.css.map */
